@model signLanguageApp.ViewModels.SignViewModel

@{
    ViewData["Title"] = "Learn";
}

<h1>Learn</h1>


@foreach (var item in Model.Signs)
{
    
        <div class="card" style="width: 18rem;">
            <a asp-area="" asp-controller="Games" asp-action="Letters">
                <img class="card-img-top" src="~/images/@Html.DisplayFor(modelItem => item.Image)" alt="@item.Image">
            </a>
            <a asp-area="" asp-controller="Games" asp-action="Letters"> @*Change css to not underline/be blue*@
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
            </div>
            </a>
        </div>

}

@* maybe make this the game manager page and Letters the playing page, where it is passed a collection?*@