@model signLanguageApp.ViewModels.SignViewModel

@{
    ViewData["Title"] = "Learn";
}

<h1>Learn</h1>


@foreach (var item in Model.Signs)
{
    <a asp-area="" asp-controller="Games" asp-action="Letters">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/@Html.DisplayFor(modelItem => item.Image)" alt="@item.Image">

            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Name: @Html.DisplayFor(model => item.Name)</p>
            </div>
        </div>
    </a>
}